{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<a href="/admin/joke"><button type="button" class="btn btn-outline-secondary">Joke</button></a>
<a href="/admin/user"><button type="button" class="btn btn-outline-secondary">User</button></a>
<a href="/admin/like"><button type="button" class="btn btn-outline-secondary">Like</button></a>
<a href="/admin/newsletter"><button type="button" class="btn btn-outline-secondary">Newsletter</button></a>
{% endblock %}
