{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<button type="button" href="/admin/joke" ="btn btn-outline-secondary">Joke</button>
<button type="button" href="/admin/user" class="btn btn-outline-secondary">User</button>
<button type="button" href="/admin/like" class="btn btn-outline-secondary">Like</button>
<button type="button" href="/admin/newsletter" class="btn btn-outline-secondary">Newsletter</button>
{% endblock %}
