.bi-trophy-fill{
    color: gold;
    border-color: black;   
}
.allpseudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pseudocard{
    background: #FFFEFE;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}