{% extends 'base.html.twig' %}

{% block title %}Edit Joke{% endblock %}

{% block body %}
    <h1>Edit Joke</h1>

    {{ include('joke/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_joke_index') }}">back to list</a>

    {{ include('joke/_delete_form.html.twig') }}
{% endblock %}
